main > .container {
    padding: 60px 15px 0;
  }
  polygon.set {
    fill: black;
  }
  polygon.not-set {
    fill: lightgrey;
  }
  polygon.hover {
    fill: grey;
  }
  .unstyled-button {
    border: none;
    padding: 0;
    background: none;
  }